@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:linear-gradient(
        194deg,
        rgba(30,34,79,1) 0%,
        rgba(4,0,54,1) 12%,
        rgba(33,33,33,1) 100%
    );
    overflow:hidden;
}

/* Sidebar */

.sidebar{
    width:230px;
    height:100vh;
    background:#000;
    position:fixed;
    left:0;
    top:0;
}

.nav-link{
    color:#a8a8a8;
    text-decoration:none;
}

.nav-link:hover{
    color:#fff;
}

/* Main Content */

.maincontent{
    margin-left:230px;
    height:100vh;
    overflow-y:auto;
    color:#fff;
    padding-bottom:100px;
}

/* Top Bar */

.top-bar{
    position:sticky;
    top:0;
    z-index:1000;

    background:rgba(20,20,20,.6);

    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);

    border-bottom:1px solid rgba(255,255,255,.05);
}

/* Buttons */

.nav-btn{
    width:35px;
    height:35px;
    border:none;
    background:#000;
    color:white;
}

.profile{
    width:40px;
    height:40px;
    border:none;
    background:#282828;
    color:white;
    font-weight:bold;
}

.upgrade{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.upgrade:hover{
    color:#1DB954;
}

/* Hero */

.hero-section{
    padding:60px 40px;
}

.hero-section p{
    max-width:600px;
}

/* Sections */

section{
    padding:50px 40px;
}



/* Player */

.player{
    height:80px;
    background:#181818;
    border-top:1px solid #282828;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;

    color:white;
}

.progress-slider{
    width:250px !important;
}

/* Mobile */

@media(max-width:768px){

    body{
        overflow:auto;
    }

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
    }

    .maincontent{
        margin-left:0;
    }

    .player{
        flex-wrap:wrap;
        height:auto;
        padding:10px;
    }

    .progress-slider{
        width:150px !important;
    }

    .hero-section{
        padding:30px 20px;
    }

    section{
        padding:30px 20px;
    }
}